In [1]:
from sklearn import svm
import pandas as pd
import matplotlib.pyplot as plt
from autograd import numpy as np
from autograd import grad
from autograd.misc.flatten import flatten_func

In [2]:
def number_misclassification(y, yfit): 
    miss_count = 0
    miss_index = []
    for i in range(np.size(y)):
        if y[0][i] != yfit[i]: 
            miss_count += 1
            miss_index.append(i)
    return miss_count, miss_index

def misclassification(miss_index, y, yfit):
    for index in miss_index:
        print("y", y[0][index], "yfit", yfit[index])
        
def accuracy(miss_count, ysize): 
    return 1 - miss_count/float(ysize)

In [3]:
df_train = pd.read_csv("./traindata.csv", dtype=np.uint8)

In [4]:
df_train.head(3)

,id,0,1,2,3,4,5,6,7,8,...,775,776,777,778,779,780,781,782,783,label
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4

In [5]:
df_train.shape

(60000, 786)

In [6]:
df_imgs = df_train.drop(['label', 'id'], axis=1)
x_original = df_imgs.as_matrix()

print("x_original shape: ", x_original.shape)

x_original shape:  (60000, 784)

In [7]:
y_original = df_train['label'].as_matrix()

print("y_original shape: ", y_original.shape)

y_original shape:  (60000,)

In [8]:
clf = svm.SVC()
clf.fit(x_original, y_original)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [9]:
# fit(X, y, sample_weight=None)
# X : {array-like, sparse matrix}, shape (n_samples, n_features)
# y : array-like, shape (n_samples,)

In [10]:
df_testdata = pd.read_csv("./testdata.csv", dtype=np.uint8)
df_testdata.head(3)

,id,0,1,2,3,4,5,6,7,8,...,775,776,777,778,779,780,781,782,783,label
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [12]:
df_testimgs = df_testdata.drop(['label', 'id'], axis=1)
xtest = df_testimgs.as_matrix()
print("xtest shape:", xtest.shape)

xtest shape: (10000, 784)

In [13]:
ytest = df_testdata['label'].as_matrix()
# ytest = ytest.reshape((10000, 1)).T
print("ytest shape:", ytest.shape)

ytest shape: (10000,)

In [15]:
clf.score(xtest, ytest)

0.1135

In [17]:
xmax = np.max(x_original)
print("x max: ", xmax)

x max:  255

In [18]:
x_original_scale = x_original/xmax

In [19]:
clf_scale = svm.SVC()
clf_scale.fit(x_original_scale, y_original)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [20]:
xtest_scale = xtest/xmax

In [22]:
clf_scale.score(xtest_scale, ytest)

0.9446