In [1]:
from sklearn import svm
import pandas as pd
import matplotlib.pyplot as plt
from autograd import numpy as np
from autograd import grad
from autograd.misc.flatten import flatten_func

In [2]:
df_train = pd.read_csv("./traindata.csv", dtype=np.uint8)

In [3]:
df_train.head(3)

,id,0,1,2,3,4,5,6,7,8,...,775,776,777,778,779,780,781,782,783,label
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4

In [4]:
df_train.shape

(60000, 786)

In [7]:
df_imgs = df_train.drop(['label', 'id'], axis=1)
x_original = df_imgs.as_matrix().T

print("x_original shape: ", x_original.shape)

x_original shape:  (784, 60000)

In [10]:
# extract edge-based features
import data_transformer
x_original_edgebased_features = data_transformer.edge_transformer(x_original)   
x_original_edgebased_features = x_original_edgebased_features.T

In [11]:
print('shape of original input ', x_original.T.shape)
print('shape of transformed input ', x_original_edgebased_features.shape)

shape of original input  (60000, 784)
shape of transformed input  (60000, 1352)

In [13]:
y_original = df_train['label'].as_matrix()

print("y_original shape: ", y_original.shape)

y_original shape:  (60000,)

In [14]:
clf = svm.SVC()
clf.fit(x_original_edgebased_features, y_original)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [15]:
# fit(X, y, sample_weight=None)
# X : {array-like, sparse matrix}, shape (n_samples, n_features)
# y : array-like, shape (n_samples,)

In [16]:
df_testdata = pd.read_csv("./testdata.csv", dtype=np.uint8)
df_testdata.head(3)

,id,0,1,2,3,4,5,6,7,8,...,775,776,777,778,779,780,781,782,783,label
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [17]:
df_testimgs = df_testdata.drop(['label', 'id'], axis=1)
xtest = df_testimgs.as_matrix().T
print("xtest shape:", xtest.shape)

xtest shape: (784, 10000)

In [18]:
xtest_edgebased_features = data_transformer.edge_transformer(xtest)

In [22]:
xtest_edgebased_features = xtest_edgebased_features.T
print("xtest shape:", xtest_edgebased_features.shape)

xtest shape: (10000, 1352)

In [24]:
ytest = df_testdata['label'].as_matrix()
# ytest = ytest.reshape((10000, 1)).T
print("ytest shape:", ytest.shape)

ytest shape: (10000,)

In [25]:
clf.score(xtest_edgebased_features, ytest)

0.1135

### Start to scale the input

In [27]:
xmax = np.max(x_original_edgebased_features)
print("xmax_edged_base:", xmax)

xmax_edged_base: 765.0

In [28]:
x_original_edgebased_features_scale = x_original_edgebased_features/xmax

In [29]:
clf_scale = svm.SVC()
clf_scale.fit(x_original_edgebased_features_scale, y_original)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [30]:
xtest_edgebased_features_scale = xtest_edgebased_features/xmax

In [31]:
clf_scale.score(xtest_edgebased_features_scale, ytest)

0.9789